.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
	display: none;
}

.toggleButton {
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.toggleButton.active {
  background-color: #007bff;
  color: white;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
